.main {
    margin-top: 64px
}

a.toc-category {
    font-weight: 600;
    color: rgba(0,0,0,.85);
    text-decoration: none;
}

.toc-list li > a {
    font-size: 90%;
    color: rgba(0,0,0,.65);
    text-decoration: none;
}